service keymaster-3.0 /sbin/android.hardware.keymaster@3.0-service-qti
    user root
    group root
    disabled
    seclabel u:r:recovery:s0

on property:crypto.ready=0
    stop keymaster-3.0

on property:vendor.sys.listeners.registered=true
    start keymaster-3.0
    start gatekeeper-1-0
    start servicemanager
